<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/prime.jpg" type="image/x-icon">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9573317572304824" crossorigin="anonymous"></script>
  <meta property="og:title" content="Prime Radio">
  <meta property="og:description" content="Eweweza Omutima">
  <meta property="og:image" content="https://audiorecordingfm.onrender.com/images/prime.jpg">
  <meta property="og:url" content="https://audiorecordingfm.onrender.com/">
  <title>FM Stream App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body style="background: rgb(241, 214, 214);">
  <div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="images/prime.jpg" class="rounded" alt="Logo" width="50" height="auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <% if (typeof user !== 'undefined') { %>
              <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
            <% } else { %>
              <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="row">
      <div class="col-sm-12 col-md-6 mt-1">
        <div class="row">
          <div class="col-4"><img class="img-fluid rounded" src="https://play-lh.googleusercontent.com/fBaSmhCG7hO9Z_UpYpdYMl7-kv8WIs7u5JGiTCskqyN_XYYzqyzyTYpsggoaKSxlTg=w480-h960-rw"></div>
          <div class="col-8">
            <h3>AventoMedia</h3>
            <a class="btn btn-success" target="_blank" href="https://play.google.com/store/apps/details?id=tv.avventomedia.app">Download now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mt-1">
        <div class="row">
          <div class="col-4"><img class="img-fluid rounded" src="https://play-lh.googleusercontent.com/z6mLZLyFPl28jExZ1sNxNLw7ugM8WqvWN75pPDgy7w1yAQrEW63BIYlLxGwuOSle3Q=w480-h960-rw"></div>
          <div class="col-8">
            <h3>Ennyimba za Kristo</h3>
            <a class="btn btn-success" target="_blank" href="https://newlugandahymnal.onrender.com/download.html">Download now</a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <h1 class="text-center my-4">Prime Radio</h1>
    <div class="row justify-content-center mb-4">
      <audio class="w-75 mx-auto" controls src="<%= streamUrl %>">Prime</audio>
    </div>
    <div class="container-fluid d-flex align-items-center justify-content-center mb-4 d-none">
      <iframe id="iframe" width="350" height="480" src="adv.html" frameborder="0" scrolling="yes" allowfullscreen></iframe>
      <div style="height: 480px; width: 250px; background: rgba(61, 61, 133, 0); position: absolute; margin: 0 auto;" onclick="adv()"></div>
    </div>

    <% if (typeof recs !== 'undefined') { %>
      <div class="row m-4 p-2">
        <h2>Recorded Programs</h2>
        <% Object.keys(recs).forEach(function (key) { %>
          <details class="card p-2 mb-2">
            <summary><%= key %></summary>
            <% recs[key].forEach(el => { %>
              <details class="card p-2 mb-2" onclick="openInNewTab(this)">
                <summary class="bg-dark text-light p-1"><%= el.program %> - <%= el.Day %></summary>
                <div class="row">
                  <% el.files.forEach(file => { %>
                    <p><%= file %></p>
                    <a target="_blank" href="https://lugandahymnalnew.infinityfreeapp.com/uploads/<%= el.program %>/<%= file %>" download="<%= file %>">
                      <button class="btn btn-primary">Download</button>
                    </a>
                  <% }) %>
                </div>
              </details>
            <% }) %>
          </details>
        <% }); %>
      </div>
    <% } %>
      <!-- Custom Dialog Box -->
      <div id="custom-dialog-box" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h5 class="modal-title" id="textH">Confirm</h5>
              <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close" onclick="resolveDialogPromise(false)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" id="textB">
              Are you sure you want to proceed?
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="btnClo" data-dismiss="modal" onclick="resolveDialogPromise(false)">No</button>
              <button type="button" class="btn btn-primary" id="btnAcc" onclick="resolveDialogPromise(true)">Yes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4 p-2">
        <h2>User Custom Recording Coming Soon!</h2>
        <p><a href="/try.html">Click here</a> to schedule your favourite program for recording.</p>
        <p>Contact <a href="mailto:kitarogz@gmail.com">developer</a> for any assistance.</p>
        <p>
          <a href="https://wa.me/256757035774"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> ||
          <a href="https://t.me/EnnyimbaZaKristo"><i class="fa fa-telegram" aria-hidden="true"></i></a>
        </p>
        <p>
          <b>Note:</b>
          <ul>
            <li>Most recorded programs are broken into more than 1 file.</li>
            <li>Look at the name of the audio.</li>
            <li>The one which ends with 1 eg. 'lwaki nze 1'</li>
            <li>Listen to them in order.</li>
          </ul>
        </p>
      </div>

    <!-- Footer -->
    <footer class="row bg-dark text-light text-center py-3">
      <p>Developed to stream and record programs broadcasted on Prime Radio 91.9FM.</p>
      <p>&copy; Kitaroghope 2024</p>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="script.js"></script>
  <script>
    async function openInNewTab(x) {
      const count = $(x).find('a').length;
      let songs = [];
      for (let i = 0; i < count; i++) {
        songs.push($(x).find('a').eq(i).attr('href'));
      }
      const l = 'https://lugandahymnalnew.infinityfreeapp.com/player.html?prog='+$(x).find('summary').text()+'&songs='+encodeArrayToUrlData(songs);
      const con = await customConfirm("Do you wish to listen to this recorded program?", "Confirm");
      if (con) openInNewTab1(l);
    }

    function openInNewTab1(url) {
      try {
        B4A.CallSub('Open_web', true, url);
      } catch (error) {
        window.open(url, '_blank').focus();
      }
    }

    function encodeArrayToUrlData(array) {
      return encodeURIComponent(JSON.stringify(array));
    }

    async function adv() {
      const con = await customConfirm('Do you wish to view the details of the advert?');
      if (con) {
        try {
          B4A.CallSub('Open_web', true, 'https://lugandahymnalnew.infinityfreeapp.com/adv.html');
        } catch (error) {
          window.location.href = '/adv.html';
        }
      }
    }
  </script>
</body>
</html>
